<div class="d-flex justify-content-center">
  <div class="col-md-12 mt-5">
    <div class="d-flex justify-content-center mb-4">
      <input type="file" (change)="onFileSelect($event.target['files'])" accept="application/json">
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 m-1" style="overflow-x: scroll">
        <ngx-json-table [data]="object"
                        [settings]="settings"
                        (onChange)="json.innerText = stringify($event)">
        </ngx-json-table>
      </div>
      <div class="col-md-5 m-1">
        <pre class="border" #json>{{object | json}}</pre>
      </div>
    </div>
  </div>
</div>
