<app-header tagline="Quick Start & Demo"></app-header>
<section class="main-content">
  <h2>
    <a id="getting-started" class="anchor" href="#getting-started" aria-hidden="true"
      ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Getting Started
  </h2>
  <p>Hello and Welcome!</p>

  <h3>
    <a id="installation" class="anchor" href="#installation" aria-hidden="true"
      ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Installation
  </h3>
  <p>
    The library is available as npm package, so all you need to do is to run the following command:
  </p>
  <pre>
    <code [highlight]="snippets.install" language="bash"></code>
  </pre>
  <p>
    This command will create a record in your `package.json` file and install the package into the
    npm modules folder.
  </p>

  <h2>
    <a id="examples" class="anchor" href="#examples" aria-hidden="true"
      ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Examples
  </h2>
  <h3>
    <a id="minimal-setup" class="anchor" href="#minimal-setup" aria-hidden="true"
      ><span aria-hidden="true" class="octicon octicon-link"></span></a
    >Minimal Setup Example
  </h3>
  <p>First thing you need to do is to import the ngx-json-table directives into your component.</p>
  <pre>
    <code [highlight]="snippets.install" language="typescript"></code>
  </pre>
  <p>Then register it by adding to the list of directives of your module:</p>
  <pre>
    <code [highlight]="snippets.directive" language="typescript"></code>
  </pre>
  <p>
    Now, we need to configure the table and add it into the template. There is
    <strong>no required</strong> setting for the component to start working, but we will use the
    full feature settings object for the demo. Let's register <i>settings</i> property inside of the
    component where we want to have the table (<a [routerLink]="['/documentation']"
      >Settings documentation</a
    >):
  </p>
  <pre>
    <code [highlight]="snippets.settings" language="typescript"></code>
  </pre>
  <p>Finally let's put the ngx-json-table component inside of the template:</p>
  <pre>
    <code [highlight]="snippets.template" language="typescript"></code>
  </pre>
  <p>
    At this step you will have a minimally configured table which should look something like this:
  </p>
  <div>
    <app-basic-example></app-basic-example>
  </div>
  <p></p>
  <p>
    By making the table editable, all functions are available, so you already able to
    add/edit/delete rows or sort the table, etc.
  </p>
  <p>
    But it feels like something is missing... Right, there is no data in the table by default. To
    add some, let's create any valid JSON object.
  </p>
  <pre>
    <code [highlight]="snippets.data" language="typescript"></code>
  </pre>
  <p>And pass the data to the table:</p>
  <pre>
    <code [highlight]="snippets.dataTemplate" language="typescript"></code>
  </pre>
  <p>Now you have some data in the table:</p>
  <div>
    <app-basic-example-data></app-basic-example-data>
  </div>
  <p></p>
  <p>
    That's it for a minimal setup, our final component should look like this, pretty simple, huh?
  </p>
  <pre class="with-source">
    <a class="source" href="https://github.com/bacali95/ngx-json-table/blob/master/projects/demo/src/app/shared/components/basic-example/basic-example-data.component.ts" target="_blank">Demo Source</a>
    <code [highlight]="snippets.basicFull" language="typescript"></code>
  </pre>

  <p>Full component documentation you can find <a [routerLink]="['/documentation']">here</a>.</p>
</section>
